/* @tailwind base; */
/* @tailwind components; */
/* @tailwind utilities; */
@layer reset, base, tokens, recipes, utilities;

:root {
  --t-word-base: #e6db74;
  --t-word-letter-correct: #e2e2dc;
  --t-word-letter-incorrect: #f92672;
  --t-word-letter-extra: #fd971f;
  --t-word-container: #272822;
  --t-caret: #66d9ef;
  /* this is fine for the lava but likely needs to be non semantic */
  --t-caret-fg: var(--t-word-letter-correct);
}

* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  background: #2e2e2e;
  font-family: "Roboto Mono", "Roboto Mono", "Vazirmatn", monospace;
}

.facade {
  opacity: 0;
  height: 0;
  width: 0;
  border: none;
  /* we want absolute position but this fucks up the word scrolling somehow  */
  /* position: absolute; */
  /* font-size: 1rem;
  opacity: 0;
  padding: 0;
  margin: 0 auto;
  border: none;
  outline: none;
  display: block;
  resize: none; */
  /* position: absolute;
  z-index: -1;
  cursor: default;
  pointer-events: none;
  border-radius: 0;
  top: 50px;
  left: 8px; */
}

.caret {
  /* background-color: var(--t-caret);
  background-color: rgba(236, 210, 116, 0.21); */

  transition: left 0.08s ease-in-out;
  /* font size rem -1 ? */
  width: 1.25rem;
  border-radius: 6px;
  z-index: -1;
  font-size: 2.25rem;
}

.caret::after {
  position: absolute;
  content: '';
  height: 100%;
  width: 1.25rem;
  /* width: 5px; */
  background-image: url('/lava_placeholder.gif');
  /* background-size: 733%; */
  background-size: 233%;
  background-repeat: no-repeat;
  border-radius: 2px;
  /* left: -5px; */
}

@keyframes flash {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.word-container {
  background-color: var(--t-word-container);
}

.word {
  font-size: 2.25rem;
  line-height: 2.25rem;
  color: var(--t-word-base);
  /* mix-blend-mode: difference; */
}

.word.hidden {
  display: none;
}

.word .letter-correct {
   color: var(--t-word-letter-correct)
}

.word .letter-incorrect {
  color: var(--t-word-letter-incorrect)
}

.word .letter-extra {
  color: var(--t-word-letter-extra)
}

.letter.foreground {
  color: var(--t-caret-fg);
}
